<ul class="top-links">
    {% assign links = null | compact %}
    {% if site.top-links-order %}
        {% for link in site.top-links-order %}
            {% assign link-elem = site.social-links | where: "name", link %}
            {% assign links = links | concat: link-elem %}
        {% endfor %}
    {% else %}
        {% assign links = site.social-links %}
    {% endif %}

    {% for link in links %}
        {% assign username = site[link.name] %}
        {% if username %}
        {% assign default-icon-class = "fab fa-2x fa-" | append: link.name %}
        <li>
            <div class="top-link-container">
              <a class="{{ link.icon-class | default: default-icon-class }}" href="{{ link.url-scheme | default: '//' }}{{ link.url-pattern | replace: '__USERNAME__', username }}">
                  <span class="top-links-description-mobile">{{ link.name }}</span>
              </a>
              <span class="top-links-description-desktop">{{ link.name }}</span>
            </div>
        </li>
        {% endif %}
    {% endfor %}
</ul>
