<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
    <head>
        {% include tracking.html %}
        {% include head.html %}
        <style type="text/css">
          {% include main.css %}
        </style>
    </head>
    <body>
        <main>
          {% include header.html %}
          <nav aria-label="Profiles and links">
            {% include top_links.html %}
            {% include next-links.html %}
            {% include social.html %}
          </nav>
          {{ content }}
        </main>
    </body>
</html>
